
uvicorn
fastapi
requests
newspaper3k
pytube
lxml_html_clean

# Core dependencies
openai-whisper
torch
ffmpeg-python

# Summarization and NLP
transformers
sentencepiece
scikit-learn
nltk
textblob

# Database ORM
sqlalchemy
psycopg2-binary

# Environment
python-dotenv

# Optional tools
tqdm
numpy

