h3{
    color: black;
}
.history-container {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #ddd;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .history-list {
    list-style-type: none;
    padding: 0;
  }
  
  .history-item {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .empty-history {
    color: #555;
    font-style: italic;
  }
  